@import url(./footer.css);
@import url(./header.css);
@import url(./layout.css);

body {
  background-image: url(../images/crafts.jpg);
}
.des, h1 {
  display: flex;
  justify-content: center;
 
}

body {
  background-color: lightgray;
}

.banner{
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 160px;
  background-position: center;
  margin: 10px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.556);
  border-bottom-width: 10px;
}

.container {
    display: flex;
    height: 60vh;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    row-gap: 15px;
    padding: 45px;
    max-width: 75%;
    margin: auto;
}

.post {
  width: 90vw;
  padding: 15px;
  border-radius: 0px;
  border-style: double;
  border-color: darkgreen;
  color: aliceblue;
  background-color: darkgreen;
}
textarea {
    width: 300px; 
    height: 150px; 
    display: flex;
    justify-content: center;
  }

.post p {

  background-color: rgba(0, 0, 0, 0.372);
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  line-height: 20px;
  color: aliceblue;
  margin: 30px 5px 5px 5px;
  padding: 10px;
}

* {box-sizing: border-box;}

.but {
  display: flex;
  justify-content: center;
}

/* .removeBtn {
  top: 0;
  right: 0;
  background-color: green;
  color: white;
  border: 1px;
  padding: 4px 5px;
  cursor: pointer;
} */

 
.editBtn,
.removeBtn{
  background-color: black;
  color: aliceblue;
  width: 150px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  border-radius: 7px;
}

.editBtn:hover,
.removeBtn:hover{
  color: darkgreen;
}

.editBtn:active,
.removeBtn:active{
  height: 27px;
  margin-top: 5px;
}







.newPostBtn {
  background-color: green;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 250px;
}


.form-popup {
  display: none;
  position: fixed;
  top: 20vh;
  right: 35vw;
  border: 3px solid #f1f1f1;
}

.form-container {
  width: 600px;
  padding: 20px;
  background-color: white;
}


.form-container input[type=text], textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


.form-container input[type=text]:focus, textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: rgb(49, 44, 44);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 90%;
  margin-left:5%;
  margin-top:20px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: rgb(49, 44, 44);
}

.form-container .btn:hover, .newPostBtn:hover {
  opacity: 1;
}

.container::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: none;
  border: none;
}

body::-webkit-scrollbar-thumb {
  background-color: #363636;
}
