@import url(./footer.css);
@import url(./header.css);
@import url(./layout.css);

body {
  background-image: url(../images/crafts.jpg);
}
p, h1 {
  display: flex;
  justify-content: center;
 
}

body {
  background-color: lightgray;
}


.container {
    display: flex;
    height: 60vh;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    row-gap: 15px;
    padding: 45px;
    max-width: 75%;
    margin: auto;
}

.post {
  width: 90vw;
  padding: 15px;
  border-radius: 0px;
  border-style: double;
  border-color: darkgreen;
  color: aliceblue;
  background-color: darkgreen;
}
textarea {
    width: 300px; 
    height: 150px; 
    display: flex;
    justify-content: center;
  }

/* .post h3 {
  font-style: italic;
  background-color: rgb(49, 44, 44);
} */

* {box-sizing: border-box;}

.but {
  display: flex;
  justify-content: center;
}

/* .removeBtn {
  top: 0;
  right: 0;
  background-color: green;
  color: white;
  border: 1px;
  padding: 4px 5px;
  cursor: pointer;
} */

 




.editBtn,
.removeBtn {
  /* margin-left: 5px; */
  position: relative;
  margin: 3px; 
  background-color: white;
  color: green;
  border: 1px;
  padding: 4px 3px;
  cursor: pointer;
}



.newPostBtn {
  background-color: green;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 250px;
}


.form-popup {
  display: none;
  position: fixed;
  top: 20vh;
  right: 35vw;
  border: 3px solid #f1f1f1;
}

.form-container {
  width: 600px;
  padding: 20px;
  background-color: white;
}


.form-container input[type=text], textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


.form-container input[type=text]:focus, textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: rgb(49, 44, 44);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 90%;
  margin-left:5%;
  margin-top:20px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: rgb(49, 44, 44);
}

.form-container .btn:hover, .newPostBtn:hover {
  opacity: 1;
}
