
.container {
    display: flex;
    height: 50vh;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 15px;
    padding: 45px;
}

.post {
    width: 90vw;
    padding: 15px;
    border-radius: 20px;
    border-style: double;
}

textarea {
    width: 300px; 
    height: 150px; 
  }

  body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}


.newPostBtn {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 250px;
}


.form-popup {
  display: none;
  position: fixed;
  top: 20vh;
  right: 35vw;
  border: 3px solid #f1f1f1;
}

.form-container {
  width: 500px;
  padding: 20px;
  background-color: white;
}


.form-container input[type=text], textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


.form-container input[type=text]:focus, textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: rgb(49, 44, 44);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 90%;
  margin-left:5%;
  margin-top:20px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: rgb(49, 44, 44);
}

.form-container .btn:hover, .newPostBtn:hover {
  opacity: 1;
}
