#post-board {
    display: grid;
    min-height: 60vh;
    background-color: aquamarine;
    grid-template-columns: repeat(auto-fit, minmax(300px, 20vh)); /* Setting a minimum width of 300px per column */
    gap: 20px; /* Adjust the gap between grid items */
    margin: 5px;
    
    
}

/* Ensure consistent and descriptive class names */
.post {
    border: 1px solid #ccc;
    aspect-ratio: 3 / 4;
    display: grid;
    grid-template-rows: 70% 10% 20%;
    overflow: hidden;
    cursor: pointer;
}

.post:hover {
    transform: scale(1.03);
    transition-duration: 0.5s;
}

.image {
    position: relative;
    background-color: bisque;
    display: grid;
}

.text {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: whitesmoke;
}

/* Unique styles for title */
.title {
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

/* Unique styles for description */
.description {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
